body {
  color: #333;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#page-heading {
  background-color: #2b9cd8;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: Georgia, serif;
}

.navbar {
  position: relative;
  top: 0em;       
  left: 0em;      
  width: 100%;       
  background-color: #333;
  display: flex;         
  justify-content: space-around; 
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar > li {
  position: relative;
  font-weight: bold;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}

.navbar > li:hover {
  color: lightblue;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
}

.dropdown-menu li {
  padding: 10px;
  color: white;
}

.dropdown-menu li:hover {
  background-color: #444;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media all {
  body {
    font-size: 16px;
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }
}
